<h1>
  <%= @post.title %>
</h1>

<p>
  <%= image_tag(@post.comic) %>
</p>


<% if @post.description.present? %>
  <p>
    <%= @post.description %>
  </p>
<% end %>

<p>
  <h2>Comments:</h2>
  <% if @post.comments.empty? %>
    Ain't no comments yet.
  <% end %>

  <%= render 'comments/form' %>

  <% @post.comments.saved.each do |comment| %>
    <%= render partial: 'comments/show', locals: { comment: comment } %>
  <% end %>
</p>

<p>
  <%= link_to 'Random Wigbate', random_posts_path(exclude_id: @post.id) %>
</p>


<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
